body
  background: #fff
  color: #000
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size: 16px
  font-weight: 300
  line-height: 1.6em
  margin: 50px 70px

em
  font-style: italic

h1
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size: 80px
  font-weight: 100
  line-height: 1em
  margin: 40px 0

ul
  list-style-type: disc
  padding: 0 0 0 30px

  li
    margin: 10px 0
    padding: 0 0 0 2px

strong
  font-weight: bold

.row
  max-width: 700px
